{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="reset-form-wrapper">
        <div class="reset-headers">
            <h1 class="is-size-3-desktop is-size-6-mobile">Reset your password</h1>
            <div class="reset-instruction is-size-6-desktop">
                Enter your email address, and we will send you a link to reset your password.
            </div>
        </div>

        <div class="reset-form">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="password-form">
                {{ form_start(requestForm) }}
                <div class="form-group">
                    {{ form_label(requestForm.email) }}
                    {{ form_widget(requestForm.email) }}
                </div>
                <button class="btn btn-primary">Send email</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
