{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container-title" style="text-align: center;">
        <h1>Reset your password</h1>
    </div>

    <div class="spec-box">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(requestForm) }}
        <div class="form-group">
            {{ form_label(requestForm.email) }}
            {{ form_widget(requestForm.email) }}
        </div>
        <div>
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>
        <button class="btn btn-primary">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
