<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href="{{ asset('css/base.css')}}" rel='stylesheet' type='text/css'>
    {% if stylesheets is defined %}
        {% for stylesheet in stylesheets %}
            <link href="{{ asset('css/'~stylesheet)}}" rel='stylesheet' type='text/css'>
        {% endfor %}
    {% endif %}

    {% block javascripts %}
        {#<script src="{{ asset('js/keep_navbar.js') }}"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.js"></script>

    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{{ path('homepage') }}">
                    <span class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#efd0ce">
                            <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"></path>
                        </svg>
                        <span class="nav-text is-hidden-touch">Home</span>
                    </span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="{{ path('study') }}">
                    <span class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#efd0ce">
                            <path d="M260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"></path>
                        </svg>
                        <span class="nav-text is-hidden-touch">Study</span>
                    </span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="{{ path('profile') }}">
                    <span class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#efd0ce">
                            <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"></path>
                        </svg>
                        <span class="nav-text is-hidden-touch">Profile</span>
                    </span>
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="navbar-item" style="margin-left: auto;">
                    <a href="{{ path('logout') }}" style="color: #efd0ce;">LOGOUT</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>




<main>
    {% block content %}{% endblock %}
</main>
</body>

<footer>
    Copyright 2022 WebTech. StudHub All Rights Reserved. <a href="https://admin.kuleuven.be/privacy/en/">Privacy Policy</a> | <a href="https://admin.kuleuven.be/icts/english/cookiepolicy/">Terms of Use</a>
</footer>
</html>
