{% extends 'base.html.twig' %}

{% block content %}
    <div class="prof_cards_wrapper">
        {% for professorData in professorWiseCourses %}
            {% set professor = professorData.professor %}
            <div class="prof_card">
                <h2 class="prof_name">{{ professor.getName() }}</h2>
                <div class="prof_classes_wrapper">
                    {% for course in professorData.courses %}
                        <div class="prof_class">{{ course.getName() }}</div>
                    {% endfor %}
                </div>
                {% if professorVotes[professor.getId()] > 0 %}
                    <div class="prof_rate">Average Rating: {{ professorRatings[professor.getId()]|number_format(2) }}</div>
                    <div class="prof_votes">Votes: {{ professorVotes[professor.getId()] }}</div>
                {% else %}
                    <div class="prof_rate">Be the first to rate</div>
                {% endif %}
                <a href="{{ path('professor_rate') }}"><input type="button" class="rate_button" value="Rate Me"></a>
                <a href="{{ path("feedback_prof", {'professorId': professor.getId()}) }}"><input type="button" class="feedback_button" value="Leave feedback"></a>
                    <a href="{{ path('view_feedback', {'professorId': professor.getId()}) }}"><input type="button" class="view_feedback_button" value="View Feedback"></a>

            </div>
        {% endfor %}
    </div>
{% endblock %}
