{% extends 'base.html.twig' %}

{% block content %}
    <div class="prof_cards_wrapper">
        {% for professor, courses in professorWiseCourses %}
            <div class="prof_card">
                <h2 class="prof_name">{{ professor }}</h2>
                <div class="prof_classes_wrapper">
                    {% for course in courses %}
                        <div class="prof_class">{{ course.name }}</div>
                    {% endfor %}
                </div>
                {% if professorVotes[professor] > 0 %}
                    <div class="prof_rate">Average Rating: {{ professorRatings[professor]|number_format(2) }}</div>
                    <div class="prof_votes">Votes: {{ professorVotes[professor] }}</div>
                {% else %}
                    <div class="prof_rate">Be the first to rate</div>
                {% endif %}
                <a href="{{ path('professor_rate') }}"><input type="button" class="rate_button" value="Rate Me"></a>
                <a href="{{ path('feedback', { courseId: courses[0].id }) }}"><input type="button" class="feedback_button" value="Leave Feedback"></a>
                <a href="{{ path('view_feedback', { courseId: courses[0].id }) }}"><input type="button" class="view_feedback_button" value="View Feedback"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
