{% extends 'base.html.twig' %}

{% block title %}Provide Feedback{% endblock %}

{% block content %}
    <div class="container" style="text-align: center;">
        <h1 style="font-size: 2em;">Provide Feedback</h1>
        {{ form_start(form_course) }}
        <div style="margin-bottom: 10px;">
            {{ form_label(form_course.studentUsername) }}<br>
            {{ form_widget(form_course.studentUsername) }}
        </div>
        <div style="margin-bottom: 10px;">
            {{ form_label(form_course.feedback) }}<br>
            {{ form_widget(form_course.feedback) }}
        </div>
        <div>
            <button type="submit">{{ form_label(form_course.save) }}</button>
        </div>


        {{ form_end(form_course) }}
    </div>
{% endblock %}
