{% extends 'base.html.twig' %}

{% block title %}Provide Feedback for {{ professor.getName() }} {% endblock %}

{% block content %}
    <div class="container">
        <h1>Provide Feedback for {{ professor.getName() }}</h1>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.studentUsername) }}
            {{ form_widget(form.studentUsername) }}
        </div>
        <div>
            {{ form_label(form.feedback) }}
            {{ form_widget(form.feedback) }}
        </div>
        <div>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
