{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_USER') %}

    <div class="profile-header">
        <h3 class="profile-h3">Your Phase and Specialization</h3>
        <p class="profile-p">You can change your academic information here.</p>
    </div>
    <div class="user-info-all">
        <dl class="line-breaker"></dl>


        <form id="academic-info-form" action="{{ path('changeProfile') }}" method="post">
            <div class="spec-box">
                <dd class="input-box">
                    <label for="specialisation">specialisation:&nbsp;&nbsp;&nbsp;</label><select name="specialisation" id="specialisation">
                        <option value="Chemical" {% if app.user.specialisation == 'Chemical' %}selected{% endif %}>Chemical Engineering</option>
                        <option value="Electromechanics" {% if app.user.specialisation == 'Electromechanics' %}selected{% endif %}>Electromechanics</option>
                        <option value="Electronics" {% if app.user.specialisation == 'Electronics' %}selected{% endif %}>Electronics and ICT</option>
                    </select>
                </dd>
            </div>

            <div class="spec-box">
                <dd class="input-box">
                    <label for="phase">Phase:&nbsp;&nbsp;&nbsp;</label><select name="phase" id="phase">
                        <option value="1" {% if app.user.phase == '1' %}selected{% endif %}>Bac 1</option>
                        <option value="2" {% if app.user.phase == '2' %}selected{% endif %}>Bac 2</option>
                        <option value="3" {% if app.user.phase == '3' %}selected{% endif %}>Bac 3</option>
                        <option value="4" {% if app.user.phase == '4' %}selected{% endif %}>Master</option>
                    </select>
                </dd>
            </div>
        </form>
    </div>



    <div class="profile-header">
    <h3 class="profile-h3">Your Basic Profile</h3>
    <p class="profile-p">You can change your personal information here.</p>
    </div>
    <div class="user-info-all">


            <dl class="line-breaker"></dl>

            <div class="spec-box">
                <div class="label-box">username: </div>
                <div id="username-info-display" style="display: inline">
                    <dd class="input-box">
                        {{ app.user.username }}
                            <input id="username-edit-init" type="button" value="Edit">
                    </dd>
                </div>
                <div id="username-edit-display" style="display: none">
                    <dd class="input-box">
                        <form id="username-edit-form" action="{{ path('changeUsername') }}" method="post">
                            <input type="text" id="edit-username" name="username" value="{{ app.user.username }}">
                            <input id="username-edit-confirm" type="button" value="Confirm">
                            <input id="username-edit-cancel" type="button" value="Cancel">
                        </form>
                    </dd>
                </div>
            </div>

        <div class="spec-box">
            <div class="label-box">username: </div>
            <div id="email-info-display" style="display: inline">
                <dd class="input-box">
                    {{ app.user.email }}
                    <input id="email-edit-init" type="button" value="Edit">
                </dd>
            </div>
            <div id="email-edit-display" style="display: none">
                <dd class="input-box">
{#                    <form id="email-edit-form" action="{{ path('changeEmail') }}" method="post">#}
                        <input type="text" id="edit-username" name="username" value="{{ app.user.email }}">
                        <input id="email-edit-confirm" type="button" value="Confirm">
                        <input id="email-edit-cancel" type="button" value="Cancel">
{#                    </form>#}
                </dd>
            </div>
        </div>



            <div class="spec-box">
                <div class="label-box">password: </div>
                <dd class="input-box">*********</dd>
            </div>

            <div class="option-edit">
                <input id="init-edit" type="button" value="Edit">
            </div>


        <div id="user-info-edit" style="display: none">
            <dl class="line-breaker"></dl>
            <div class="spec-box">
                <div class="label-box">username: </div>
                <dd class="input-box">
                    <input type="text" id="username-edit" value="{{ app.user.username }}">
                </dd>
            </div>

            <div class="spec-box">
                <dt class="label-box">email: </dt>
                <dd class="input-box">
                    <input type="text" id="email-edit" value="{{ app.user.email }}">
                </dd>
            </div>
            <div class="option-edit">
                <input id="confirm-edit" type="button" value="Confirm">
            </div>
        </div>

        {% block javascripts %}
            {#      changing academic info      #}
            <script>
                document.getElementById('specialisation').addEventListener('change', function() {
                    document.getElementById('academic-info-form').submit();
                });
                document.getElementById('phase').addEventListener('change', function() {
                    document.getElementById('academic-info-form').submit();
                });
            </script>

            {#    username info dynamic display    #}
            <script>
                display = document.getElementById('username-info-display');
                edit = document.getElementById('username-edit-display');
                document.getElementById('username-edit-init').addEventListener('click', function() {
                        display.style.display = 'none';
                        edit.style.display = 'inline';
                });
                document.getElementById('username-edit-cancel').addEventListener('click', function() {
                    display.style.display = 'inline';
                    edit.style.display = 'none';
                });
                document.getElementById('username-edit-confirm').addEventListener('click', function() {
                    display.style.display = 'inline';
                    edit.style.display = 'none';
                    document.getElementById('username-edit-form').submit();
                });
            </script>
        {% endblock %}


    </div>

    {% else %}
        <p>You are not authenticated.</p>
    {% endif %}

{% endblock %}