{# templates/rate_professor.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Rate {{ professor.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rate_form.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Rate {{ professor.name }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.rateValue) }}
        <button class="btn btn-primary">Submit Rating</button>
        {{ form_end(form) }}
    </div>
{% endblock %}