{# rate_course.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Rate Course{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rate_form.css') }}">
{% endblock %}


{% block content %}

       <h1 class="rate_header">Rate Course</h1>
       {{ form_start(form, { 'attr': { 'class': 'course_rate_form'}}) }}
       <div class="course_rate_field">
           {{ form_label(form.course_id, 'Course:') }}
           {{ form_widget(form.course_id, {'attr': {'class': 'course_list', 'style': 'width: 200px; border: 1px solid #ccc;'}}) }}
           {{ form_errors(form.course_id) }}
       </div>
       <div class="course_rate_field">
           {{ form_label(form.rate_value, 'Rate the course (from 0 to 10):') }}
           {{ form_widget(form.rate_value, {'attr': {'class': 'form-control'}}) }}
           {{ form_errors(form.rate_value) }}
       </div>
    <div class="course_rate_field">
        <button type="submit" class="btn btn-primary">Submit Rating</button>

    </div>
       {{ form_end(form) }}
{% endblock %}