{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/rate_range_prof.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Rate Prof</h1>
    {{ form_start(form_rate_prof) }}
    <div class="prof_rate_from">
        {{ form_start(form_rate_prof, {'attr': {'class': 'prof_rate_form'}}) }}
        {{ form_errors(form_rate_prof) }}
        {{ form_row(form_rate_prof.studentUsername) }}

        <div class="prof_form_field">
            {{ form_label(form_rate_prof.rate) }}
            {{ form_widget(form_rate_prof.rate, { 'attr': { 'class': 'rate_range'}}) }}
            <p style="font-size: 13px">rate is <output id="rate_value">0</output></p>
        </div>
        <div class="prof_form_field">
            {{ form_widget(form_rate_prof.save, { 'attr': { 'class': 'prof_rate_submit'}}) }}
        </div>
        {{ form_end(form_rate_prof) }}
    </div>

{% endblock %}