{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/rate_range_prof.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="prof_rate_from">
        {{ form_start(form_rate_prof, {'attr': {'class': 'prof_rate_form'}}) }}
        {{ form_errors(form_rate_prof) }}
        {{ form_row(form_rate_prof.student) }}
        <div class="prof_form_field">
            {{ form_label(form_rate_prof.professor) }}
            {{ form_widget(form_rate_prof.professor, { 'attr': { 'class': 'prof_list', 'style': 'width: 200px; border: 1px solid #ccc;'}}) }}
        </div>
        <div class="prof_form_field">
            {{ form_label(form_rate_prof.rate) }}
            <p style="font-size: 13px">rate is <output id="rate_value">0</output></p>
            {{ form_widget(form_rate_prof.rate, { 'attr': { 'class': 'rate_range'}}) }}
        </div>
        <div class="prof_form_field">
            {{ form_widget(form_rate_prof.save, { 'attr': { 'class': 'prof_rate_submit'}}) }}
        </div>
        {{ form_end(form_rate_prof) }}
    </div>

{% endblock %}