{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/study.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Study</h1>

    {% for phase in phases %}
        <h2 class="phase-toggle">{{ phase.name }}</h2>
        <ul class="courses" style="display: none;">
            {% for book in phase.books %}
                <li class="book">
                    <strong>Title:</strong> {{ book.title }}<br>
                    <strong>Author:</strong> {{ book.author }}<br>
                    <strong>Description:</strong> {{ book.description }}<br>
                    <div class="options">
                        <span class="option" data-type="lecture">Lecture</span>
                        <span class="option" data-type="lab">Lab</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <div id="selected-option"></div> {# Display selected option here #}

{% endblock %}
