{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ asset('css/study.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/study.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="phases-wrapper">
        {% for phase in phases %}
            <div class="phase-header">
                <h2 class="phase-toggle">
                    <svg class="phase-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path class="expand-more" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
                        <path class="expand-less" d="M296-345-56-56 240-240 240 240-56 56-184-184-184 184Z" style="display: none"></path>
                    </svg>
                    {{ phase.name }}
                </h2>
            </div>
            <ul class="courses" style="display: none;">
                {% for course in phase.courses %}
                    <li class="course">
                        <span class="course-toggle">
                            <svg class="course-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                <path class="expand-more" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
                                <path class="expand-less" d="M296-345-56-56 240-240 240 240-56 56-184-184-184 184Z" style="display: none"></path>
                            </svg>
                            {{ course.name }}
                        </span>
                        <ul class="options" style="display: none;">
                            <li>Lecture</li>
                            <li>Lab</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div id="selected-option"></div> {# Display selected option here #}
{% endblock %}
