{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ asset('css/study.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/study.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="phases-wrapper">
        {% for phase, courses in phaseWiseCourses %}
            <div class="phase-wrapper">
                <div class="phase-header">
                    <svg class="phase-icon" xmlns="http://www.w3.org/2000/svg" height="34" fill="#efd0ce" viewBox="0 -960 960 960" width="34">
                        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
                    </svg>
                    <h2 class="phase-toggle">Phase {{ phase }}</h2>
                </div>
                <ul class="courses" style="display: none;">
                    {% for course in courses %}
                        <li class="course">
                            <h3 class="course-toggle">{{ course.name }}</h3>
                            {% if course.pdf is defined and course.pdf is not null %}
                                <div class="pdf-viewer">
                                    <embed src="{{ asset(course.pdf) }}" type="application/pdf" width="600" height="400"></embed>
                                </div>
                            {% endif %}
                            <ul class="options" style="display: none;">
                                <li class="option">Lecture</li>
                                <li class="option">Lab</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% endfor %}
    </div>
    <div id="selected-option"></div> {# Display selected option here #}
{% endblock %}
