{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/study.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/study.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="phases-wrapper">
        {% for phase in phases %}
            <div class="phase-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
                <h2 class="phase-toggle">
                    <i class="fas fa-plus-circle"></i>
                    {{ phase.name }}
                </h2>
            </div>
            <ul class="courses" style="display: none;">
                {% for course in phase.courses %}
                    <li class="course">
                        <span class="course-toggle">
                            <i class="fas fa-plus-circle"></i>
                            {{ course.name }}
                        </span>
                        <ul class="options" style="display: none;">
                            <li>Lecture</li>
                            <li>Lab</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div id="selected-option"></div> {# Display selected option here #}

{% endblock %}
