{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ asset('css/study.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/study.js') }}"></script>
{% endblock %}

{% block content %}
    {% if phaseWiseCourses is empty %}
        <p>fix the fuck-up, no courses found</p>
    {% else %}
        <ul>
            {% for phase, courses in phaseWiseCourses %}
                <li><h2> Phase {% phase %}</h2></li>
                <ul>
                    {% for course in courses %}
                        <li>{{ course.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
