{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="photo_wrapper">
            <img src="{{ asset('img/team_img1.jpeg') }}" alt="team photo construction">
            <img src="{{ asset('img/team_img2.jpeg') }}" alt="team photo late">
            <img src="{{ asset('img/team_img3.jpeg') }}" alt="team photo bridge">
            <img src="{{ asset('img/team_img_4.jpeg') }}" alt="team photo dog">
        </div>

        <div class="team-description">
            We're a passionate group of engineering students at KU Leuven on a mission to transform the way you learn. We know the struggle of finding reliable study resources, so we're revamping the forum to be a more supportive and engaging space for all students. Buckle up - the future of learning at KU Leuven is here!
        </div>
    </section>

    <section>
        <div class="team-wrapper">
            <div class="member-card">
                <a href="https://www.youtube.com/watch?v=L5inD4XWz4U">
                    <figure>
                        <img src="{{ asset('img/Wiktoria.png') }}" alt="Wiktoria">
                        <figcaption>Reach Wiktoria</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    Problem-solving is my superpower, and research & development is my playground.
                    When I'm not battling raccoons for Alma's finest pizza (they put up a good fight!), I'm busy turning challenges into breakthroughs.
                </div>
            </div>

            <div class="member-card">
                <a href="https://www.youtube.com/watch?v=L5inD4XWz4U">
                    <figure>
                        <img src="{{ asset('img/Bolin.png') }}" alt="Bolin">
                        <figcaption>Reach Bolin</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    I bring the thrill of skydiving to brainstorming sessions (minus the altitude)!
                    Bookworm by night and the mayor of Guangzhou by day, and on weekends, you'll find me spelunking for hidden insights. Let's crush these goals together!
                </div>
            </div>

            <div class="member-card">
                <a href="https://www.instagram.com/ro_han_1513?igsh=MW1zcWEzaWk5cDNsdA%3D%3D&utm_source=qr">
                    <figure>
                        <img src="{{ asset('img/Rohan.png') }}" alt="Rohan">
                        <figcaption>Reach Rohan</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    Gamers, cubers, and fellow royals, unite! When I'm not conquering virtual worlds or solving the Rubik's cube in record time,
                    you'll find me bringing reliability and friendly vibes to the team.
                </div>
            </div>

            <div class="member-card">
                <a href="https://www.youtube.com/watch?v=L5inD4XWz4U">
                    <figure>
                        <img src="{{ asset('img/Dele.png') }}" alt="Dele">
                        <figcaption>Reach Dele</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    Coder by day, entrepreneur in my dreams - that's Dele, your Nigerian prince of programming!  I'm passionate about building software that solves problems and can't wait to turn my next big idea into a reality.                </div>
            </div>

            <div class="member-card">
                <a href="https://www.linkedin.com/in/aya-chaouni-benabdallah-341537233?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                    <figure>
                        <img src="{{ asset('img/Aya.png') }}" alt="Aya">
                        <figcaption>Reach Aya</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    I code like a champion and fuel team spirit faster than an F1 race!
                    Get ready for a winning project – buckle up, I'm Aya, your programming pit crew!
                </div>
            </div>

            <div class="member-card">
                <a href="https://www.youtube.com/watch?v=L5inD4XWz4U">
                    <figure>
                        <img src="{{ asset('img/Wen.png') }}" alt="Wen">
                        <figcaption>Reach Wen</figcaption>
                    </figure>
                </a>
                <div class="member-description is-size-5-desktop">
                    By day, I build software empires. By night, I conquer the basketball court (or the couch with a good movie and book).
                    This coding cinephile brings both logic and laughs. Let's write some winning code together!
                </div>
            </div>
        </div>
    </section>



{% endblock %}